<form class="add-shoppinglist-form" action="#" method="post">
  <input type="text" id="add-item-text" value="" placeholder="Add a Shopping Item">
  <input type="button" class="add-item-button" value="add">
</form>
