body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #dff6ff; }
  body ul {
    list-style-type: none; }
    body ul .checked span {
      text-decoration: line-through; }
